<?xml version="1.0" encoding="UTF-8" ?>
<Configuration status="WARN">
    <Appenders>

        <!-- File Appender -->
        <File name="info_fileout" fileName="src/main/resources/logs/info_log.txt" append="true">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </File>

        <File name="trace_fileout" fileName="src/main/resources/logs/trace_log.txt" append="true">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </File>

        <File name="error_fileout" fileName="src/main/resources/logs/error_log.txt" append="true">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </File>

    </Appenders>

    <Loggers>

        <Logger name="com.revature" level="ALL">
            <AppenderRef ref="error_fileout" level="ERROR"/>
            <AppenderRef ref="info_fileout" level="INFO"/>
            <AppenderRef ref="trace_fileout" level="TRACE"/>
        </Logger>

    </Loggers>

</Configuration>